@charset "UTF-8"

body {
	margin: 0;
}

header {
	background-color: tomato;
	padding: 50px;
	font-size: 3em; font-family: monospace; font-weight: bold;
	color: white;
	letter-spacing: 5px;
	text-align: center;
}

nav {
	margin: 0 auto;
	background-color: black;
	padding: 5px;
	position: sticky;
	top: 0;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	font-size: 1.5em;
	padding-left: 50px;
}

a {
	text-decoration: none;
	padding: 12px;
	border-radius: 10px;
}

a:link, a:visited {
	color: white;
}

a:hover {
	border: 1px solid white;
	background-color: tomato;
}

a:active {
	color: red;
}

#content {
	background-color: lightgrey;
	height: 800px;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: tomato;
	border: 2px solid black;
	color: white;
	letter-spacing: 5px;
	font-family: monospace; font-size: 2em; font-weight: bold;
}